# 서버 설정
PORT=3000

# MariaDB 데이터베이스 설정
DB_HOST=todo.c5aac4i6et2q.ap-northeast-2.rds.amazonaws.com
DB_PORT=3307
DB_USER=root
DB_PASSWORD=qwer1257
DB_NAME=todo
DB_CONNECTION_LIMIT=5

# AWS RDS 사용 시 예시:
# DB_HOST=your-database-instance.xxxxx.us-east-1.rds.amazonaws.com
# DB_PORT=3306
# DB_USER=admin
# DB_PASSWORD=your_secure_password
# DB_NAME=todo

